[flake8]
exclude = migrations
# black compatibility
max-line-length = 88
extend-exclude =
    client
    docs
    docs_old
    media
    venv
    env

select = C,E,F,W,DJ,DJ10
# black compatibility
extend-ignore = E203,W503