Django==3.2.13
django-filter==21.1
django-money==2.1
djangorestframework==3.12.4
djangorestframework-camel-case==1.2.0
drf-extra-fields==3.2.1
drf-yasg==1.20.0
mysqlclient==2.1.0
pandas==1.4.3
Pillow==9.0.1
requests==2.26.0
